
{{#if error}}
    <div class="alert alert-danger">
    <ul>
        <li>Password Didn't Match</li>
    </ul>
</div>
{{/if}} 


 <form action="/bank/loginAsbank" method="post">
  <center>
  <div class="row login-signup">
       <div class="col-md-4">
    <a href="http://localhost:8080/"><img src="/images/17.png" style="width:100%; margin: 0;"></a>
   </div>

    <div class="col-md-8">
      <h1>BANK LOGIN</h1>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    
    <button type="submit" class="custom1">Login</button>
    </div>
  </div>
</center>
</form> 