{{#if success}}
    <div class="alert alert-success">
    <ul>
        <li>Account Created </li>
    </ul>
</div>
{{/if}} 
{{#if error}}
    <div class="alert alert-danger">
    <ul>
        <li>Account Not Activated</li>
    </ul>
</div>
{{/if}} 


 <form action="/user/login" method="post">  
 <center>
 <div class="row login-signup">
     <div class="col-md-12">
    <h1><b>LOGIN</b></h1>
  </div>
   <div class="col-md-4">
    <a href="http://localhost:8080/"><img src="/images/17.png" style="width:100%; margin: 0;"></a>
   </div>

<div class="col-md-8">
<div class="container" style="width: 400px; padding:30px;">
    
    <br>
    <label for="CNIC"><b>CNIC</b></label>
    <input type="text" placeholder="Enter CNIC" name="NID" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
  
    <button type="submit" class="custom1">Login</button>

    <span class="psw">Don't have an  account? <a href="/user/signUp">Sign Up here</a></span>
  </div>

</div>

 </div>

  </center>

  <div class="container" >
    
  </div>
</form> 
