{{!-- <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div> --}}
  {{#if error}}
    <div class="alert alert-danger">
    <ul>
        <li>User Doesn't Exist</li>
    </ul>
  </div>
  {{/if}}


 
 <form action="/user/searchUser" method="post">
  <center>
  <div class="row login-signup">
    <div class="col-md-12">
    <label for="NID"><b>Search User</b></label>
    <input type="text" placeholder="NID" name="NID" required>
    <button type="submit" class="searchButton" style="float: right;"> <i class="fa fa-search"></i></button>
  </div>
  </div>
</center>
</form> 